Eliza-Wilkinson_Letter_TEI_Project/ODD and Customized Schema/Eliza_Wilkinson_Letter_1_ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI 
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="ElizaWilkinsonCorpusODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" except="name"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates" include="persName placeName orgName"/>
      </schemaSpec>
      <constraintSpec ident="header" scheme="schematron">
        <constraint>
          <sch:rule context="tei:teiHeader/@resp">
            <sch:assert test=". = '#CHG'">This @resp attribute must be #CHG.</sch:assert>
          </sch:rule>
        </constraint>
      </constraintSpec>
      <elementSpec ident="persName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <constraintSpec ident="persName" scheme="schematron">
          <constraint>
            <sch:rule context="persName">
              <sch:let name="StandoffpersonIndex"       value="doc('https://raw.githubusercontent.com/rae1509/HIST-630/main/Eliza-Wilkinson_Letter_TEI_Project/Text-Markup/Eliza_Wilkinson_Letter_1.xml')"/>
              <sch:let name="personIDs" value="$StandoffpersonIndex//tei:person/@xml:id"/>
              <sch:let name="error" value="."/>
              <sch:assert test="/@ref = $personIDs">
                <sch:value-of select="$error">Every persName element with a @ref attribute should have an @xml:id.</sch:value-of>
                <sch:value-of select="personIDs"/> 
              </sch:assert>
            </sch:rule> 
          </constraint>
        </constraintSpec>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>   
        </attList>
      </elementSpec>
     
      <elementSpec ident="placeName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <constraintSpec ident="placeName" scheme="schematron">
          <constraint>
            <sch:rule context="placeName">
              <sch:let name="StandoffplaceIndex"       value="doc('https://raw.githubusercontent.com/rae1509/HIST-630/main/Eliza-Wilkinson_Letter_TEI_Project/Text-Markup/Eliza_Wilkinson_Letter_1.xml')"/>
              <sch:let name="placeIDs" value="$StandoffplaceIndex//tei:place/@xml:id"/>
              <sch:let name="error" value="."/>
              <sch:assert test="/@ref = $placeIDs">
                <sch:value-of select="$error"> Every placeName element with a @ref attribute should have an @xml:id. </sch:value-of>
                <sch:value-of select="placeIDs"/> 
              </sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="orgName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <constraintSpec ident="orgName" scheme="schematron">
          <constraint>
            <sch:rule context="orgName">
              <sch:let name="StandofforgIndex"       value="doc('https://raw.githubusercontent.com/rae1509/HIST-630/main/Eliza-Wilkinson_Letter_TEI_Project/Text-Markup/Eliza_Wilkinson_Letter_1.xml')"/>
              <sch:let name="orgIDs" value="$StandofforgIndex//tei:org/@xml:id"/>
              <sch:let name="error" value="."/>
              <sch:assert test="/@ref = $orgIDs">
                <sch:value-of select="$error"> Every orgName element with a @ref attribute should have an @xml:id. </sch:value-of>
                <sch:value-of select="orgIDs"/> 
              </sch:assert>
            </sch:rule> 
          </constraint>
        </constraintSpec>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="p" module="core" mode="change">
        <content>
          <sequence preserveOrder="false">
            <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="orgName" minOccurs="0" maxOccurs="unbounded"/>
            <textNode/>
          </sequence>
        </content>
      </elementSpec>
      <elementSpec ident="settlement" module="namesdates" mode="change">
        <attList>
          <attDef ident="settlement" mode="change" usage="req">
            <datatype>
              <dataRef key="data.enumerated"/>
            </datatype>
            <valList>
              <valItem ident="island">
                <gloss>island</gloss>
                <desc>Indicates that the settlement is located on an island near Charleston, South Carolina</desc>
              </valItem>
            </valList>
          </attDef>
        </attList>
      </elementSpec>
    </body>
  </text>
</TEI>
