Eliza-Wilkinson_Letter_TEI_Project/Customized Schema/Eliza_Wilkinson_Letter_1_ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="ElizaWilkinsonCorpusODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" except="name"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates" include="persName placeName orgName"/>
      </schemaSpec>
      <elementSpec ident="persName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>   
        </attList>
      </elementSpec>
      <elementSpec ident="placeName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="orgName" module="namesdates" mode="change">
        <content>
          <textNode/>
        </content>
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="p" module="core" mode="change">
        <content>
          <sequence preserveOrder="false">
            <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="orgName" minOccurs="0" maxOccurs="unbounded"/>
            <textNode/>
          </sequence>
        </content>
      </elementSpec>
    </body>
  </text>
</TEI>
